.professional_section {
    background-color: #ffffff;
    margin: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
  }
  
  .professional_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .professional_section .img-box img {
    width: 100%;
  }
  
  .professional_section .detail-box h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #0355cc;
    text-align: center;
    padding-top:10px;
  }
  
  .professional_section .detail-box p {
    margin-top: 20px;
  }
  
  .professional_section .detail-box a {
    margin-top: 25px;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #ff8a1d;
    border: 1px solid #ff8a1d;
    border-radius: 2px;
    color: #ffffff;
    
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:10px;
  }
  
  .professional_section .detail-box a:hover {
    background-color: transparent;
    color: #ff8a1d;
  }

  .space_down{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: 600px) {

    .space_down{
      padding-top: 50px;
    }
  }

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
    position: absolute;
    right: 0;
  content: '>';
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
    position: absolute;
    left: 0;
  content: '<';
  font-size: 55px;
  color: rgb(0, 0, 0);
}
.carousel-indicators li{
    background-color: rgb(160, 160, 160);
}
.carousel-indicators .active{
  background-color: rgb(0, 0, 0);
}

.padding-0{
  padding-right:0;
  padding-left:0;
}
html{
  scroll-behavior: smooth;
}

/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: bottom; 

}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
           padding-top: 110px;
  padding-bottom: 125px;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  color: #0355cc;
}

.slider_section .detail-box p {
  color: #444;
  font-size: 15px;
}

.slider_section .detail-box a {
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #ff8a1d;
  border: 1px solid #ff8a1d;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 15px;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #ff8a1d;
}

.slider_section .img-box img {
  width: 100%;
}


.feature_section {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.feature_section .feature_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature_section .feature_container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 15px;
  padding: 40px 10px;
  background-color: #ffffff;
  color: #555089;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.feature_section .feature_container .box .img-box {
  width: 90px;
  height: 60px;
}

.feature_section .feature_container .box .img-box svg {
  width: 100%;
  height: auto;
  max-height: 100%;
  fill: #726dae;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.feature_section .feature_container .box .img-box svg path {
  fill: #726dae;
}

.feature_section .feature_container .box .name {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 0;
}

.feature_section .feature_container .box:hover, .feature_section .feature_container .box.active {
  background-color: #ff8a1d;
  color: #ffffff;
}

.feature_section .feature_container .box:hover .img-box svg, .feature_section .feature_container .box.active .img-box svg {
  fill: #ffffff;
}

.feature_section .feature_container .box:hover .img-box svg path, .feature_section .feature_container .box.active .img-box svg path {
  fill: #ffffff;
}